<nav>
  <ul class="nav-list">
    <li><img alt="1337 H4X0Rz Only!" class="nav-logo" src="/assets/images/PCCCC_Simple_Logo_T.png"></li>
    <li><h2><a href="/">HOME</a></h2></li>
    <li><h2><a href="/membership.html">MEMBERSHIP</a></h2></li>
    <li><h2><a href="/resources.html">RESOURCES</a></h2></li>
    <li><h2><a href="/events.html">EVENTS</a></h2></li>
    <li><h2><a href="/roster.html">ROSTER</a></h2></li>
    <li><h2><a href="/blog.html">BLOG</a></h2></li>
    <li><h2><a href="/about.html">ABOUT</a></h2></li>
    <li><h2><a href="/faq.html">FAQ</a></h2></li>
  </ul>
</nav>
